.form-component{
    width: calc(70%);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin-bottom: calc(2%);
}

.input-form{
    width: calc(70%);
    /* min-height: 200px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: aquamarine; */

    margin-top: calc(10%);

    /* border-radius: 20px;
    border: 1px solid rgb(152, 102, 204); */
}

.text-input{
    width: calc(70%);
    height: 40px;

    border-radius: 10px;
    border: 2px solid rgb(119, 23, 221);

    text-decoration: none;
    outline: none;

    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    padding-left: calc(2%);
}

.results{
    width: calc(50%);

    margin-top: calc(2%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner{
    margin-top: calc(5%);
}

.label{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: white;
}

.files-content{
    width: calc(100%);

    
    /* box-shadow: 0px 5px rgb(119, 23, 221); */

    /* background-color: rgb(39, 100, 153); */

    overflow: auto;
}

.item{
    text-align: left;

    padding-left: calc(2%);

    margin-top: calc(2%);

    border-radius: 10px;
    border: 3px solid rgb(119, 23, 221);

    background-color: rgb(242, 240, 243);
    /* background: transparent;
    backdrop-filter: blur(15px); */

}

.item-name{
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin-top: calc(1%);
    margin-bottom: calc(1%);
}

.item-words{
    padding-left: calc(2%);
    padding-right: calc(2%);

    margin-bottom: calc(2%);
}

.item-text{
    padding-left: calc(2%);
    padding-right: calc(2%);

    margin-top: calc(2%);
    margin-bottom: calc(2%);
}

.show-text-button{
    height: 30px;
    margin-top: calc(1%);


    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}

.show-text-button:hover{
    color: rgb(242, 217, 245);
    cursor: pointer;

    text-decoration: underline;
}